@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

body{
    margin: 0; 
}

header {
    z-index: 999;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    background-color: rgb(162, 24, 24);
    padding: 10px;
    display: flex;
    align-items:  center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
li {
    position: relative;
}
a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}
li:hover > a {
    background-color:#ec4242;
}

/* Sous-menu */
.sousMenu {
    display: none;
    position: absolute;
    background-color: rgb(162, 24, 24);
    min-width: 150px;
    top: 100%;
    left: 0;
}
.sousMenu a {
    padding: 10px;
    display: block;
}
.sousMenu a:hover {
    background-color: #ec4242;
}

/* Affichage du sous-menu au survol */
li:hover .sousMenu {
    display: block;
}

header img{
    width: 120px;
}



.banniere{
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: wheat;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    margin-top: 2rem;
    display: flex;

}

.fiche{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 3rem;
    margin-right: 3rem;
    background-color: wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    width: 50%;
    border-radius: 5%;
    text-align: center;
}

.fiche img{
    width: 75%;
    border-radius: 5%;
    border: solid black 2px;
}
#cover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    width: 80%;
    border-radius: 5%;
}

main h2{
    padding-bottom: 2rem;
}

.logo{
    width: 5%;
    height: 5%;
    border-radius: 100%;
}

#cover img{
    border-radius: 2%;
    border: solid black 1px;
}

#tomes{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.tome{
    padding: 1rem;
    overflow: hidden;
}

.tome img{
    width: 12rem;
    transition : transform 0.3s ease-in-out;
}

.tome img:hover{
    transform: scale(1.05);
}

#global{
    display: flex;
    justify-content: center;
}

#Biog{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: wheat;
    display: flex;
    width: 50%;
    flex-direction: column;
    border-radius: 15%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
}


footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #363131;
}

footer p {
    color: white;
}

footer li {
    color: #7c7373;
}

footer li:hover {
    color: white;
}

footer ul {
    list-style: none;

}

.element {
    padding: 25px;
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.separateur {
    padding: 25px;
    width: 50px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.image {
    display: flex;
    width: 250px;
    padding-top: 25px;
    align-items: center;
    justify-content: space-evenly;

}

.image a {
    overflow: hidden;
    transition: transform 0.4s ease;
}

.image a:hover {
    transform: scale(1.3);
}

#insta {
    width: 80px;
}

#youtube {
    width: 40px;
}

#facebook {
    width: 60px;
}


